body { padding-top: 80px; }
body > div.container { max-width: 900px; }

div.container a.brand {
  font-size: 30px;
  padding: 10px 20px 20px;
}

div.audio-meta { vertical-align: baseline; }
div.audio-player { padding: 10px 0 0 0; }
