/* =============================================================================
   Put your own styles in here if you want
   ========================================================================== */

article, div.site-title, div.navigation,
footer p {
  max-width: 940px;
  position: relative;
  margin: 0 auto;
}

header, nav, footer p  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

input[type="text"] {
  font-size: 110%;
  -webkit-box-shadow: #62dd63 0 1px;
  -moz-box-shadow: #62dd63 0 1px;
  box-shadow: #62dd63 0 1px;
  background-color: #F2F2F2;
  border: 1px solid #3c873c;
  color: #888
}

article > header, input[type="text"] {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}

article > header {
  background-color: #c3c3c3;
  color: #999;
}

body > header, footer {
  background-color: #333;
}

body > header .subtitle { margin: 0 0 0.5em 2.5em; }

nav {
  background-color: #5EB95E;
}

nav a, nav a:visited {
  color: #fff;
  text-decoration: none;
}

header, nav, body > footer,
div.episode_body,
div.audio,
article > footer {
  padding-left: 55px;
  padding-right: 55px;
}

header::after, nav::after {
  content: "";
  display: table;
  clear: both;
}

header .site-title,
header .site-title a,
header .site-title a:visited {
  color: #999;
  text-decoration: none;
}

header .site-title a,
header .site-title a:visited {
  font-size: 300%;
}

nav , body > footer{
  padding-top: .35em;
  padding-bottom: .35em;
}

nav form { float: right; }

nav ul {
  float: left;
  display: block;
  padding-top: .15em;
}

nav ul li {
  list-style-image: none;
  list-style-type: none;
  display: inline;
  float: left;
}

nav li + li {
  margin-left: .8em;
}

nav li + li a {
  padding-left: .8em;
}

article > header span { float: right; }

body > footer { text-align: right; }
