{% if post %}
{% elsif page %}
  {% assign post = page %}
{% endif %}

<article class='episode podcast'>

  {% include post_header.html %}

  <div class='episode_body'>
    {{ post.content }}
  </div>

  {% if post.audio %}
  <div class="audio">
    <a href="/files/episodes/{{ post.audio }}" title="{{ post.audio }}">Download</a>
    (Size: {{ post.file_size | string_of_size }})
    (Duration: {{ post.duration | string_of_duration }})
    {{ post.audio | audio }}
  </div>
  {% endif %}

  <footer>
    {{ site | flattr_button:post }}
  </footer>

</article>
