{% if post %}
{% elsif page %}
  {% assign post = page %}
{% endif %}

{% include post_header.html %}

{{ post.content }}

  {% if post.audio %}
  <div class="audio">
    <div class="audio-meta">
      <strong><a href="/files/episodes/{{ post.audio }}" title="{{ post.audio }}">Download</a></strong>
      <span class="label label-info">Size: {{ post.file_size | string_of_size }}</span>
      <span class="label label-info">Duration: {{ post.duration | string_of_duration }}</span>
    </div>
    <div class="audio-player">
      {{ post.audio | audio }}
    </div>
  </div>
  {% endif %}

<hr>
{{ site | flattr_button:post }}
{% unless page.url == '/index.html' %}{% include disqus_thread.html %}{% endunless %}
<hr>
